<!DOCTYPE html>
<html>

<head>
    <title>Validation using Express-Validator</title>
</head>

<body>
    <h1>Demo Form</h1>

    <form action="saveData" method="POST">
        <pre>
	Enter your Email : <input type="text" name="email"> <br>
	Enter your Name	 : <input type="text" name="name"> <br>
	Enter Mobile Number : <input type="number" name="mobile"> <br>
	Enter your Password : <input type="password" name="password"> <br>
	<input type="submit" value="Submit Form">
</pre>
    </form>

</body>

</html>