<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container-fluid w-100">


        <nav>
            <%- include('../partials/navbar.ejs') %>
        </nav>

        <div class="carousel-container">
            <%- include('../partials/carousel.ejs') %>
        </div>

        <main style="min-height: 200px;">
            <div class="jumbotron">
                <h1>This is About Page</h1>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
    </div>
</body>

</html>