<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

    <nav>
        <%- include('../partials/navbar'); %>
    </nav>

    <main>
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1>This is About US Page</h1>
                    <p>Welcome to templating using EJS</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>