<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

    <nav>
        <%- include('../partials/navbar'); %>
    </nav>

    <main>
        <div class="jumbotron">
            <h1>This is Home Page</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>